/* *{
    background-image: url("../public/images/background.png");
    background-image: url(/images/back-img.png);
    height: 80vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 4vh;
    padding-left: 2vw;
    } */
